*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    padding-left: 100px;
    background: #eee;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #379c44;
    height: 60px;
    z-index: 100;
}

.container{
    width: 96%;
    margin: 80px auto;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.bk{
    width: 48%;
    float: left ;
    background: #fff;
    margin: 5px;
    padding: 20px;
    height: 155px;
}
.icon{
    width: 15%;
    float: left ;
    line-height: 160px;
}
.content{
    font-size: 13px;
}
.search-box{
    height: 30px;
    display: flex;
    justify-content: end;
    position: relative;
    right: 2.7%;
}
.search-box input{
    position: relative;
    height: 100%;
    width: 20%;
    left: 4.4%;
}
.search-box .search{
    position: inherit;
    right: -1%;
    top: 2px;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search .search-icon{
    font-size: 22px;
}
