*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    padding-left: 100px;
    background: #eee;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #379c44;
    height: 60px;
}
table{
    margin-top: 6%;
}